<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
<head>
<link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>
<div id = "container">
<div id = "title">
<h1>Header</h1>
</div>
<div id = "content">
<div id = "description">
this is where the description goes
</div>
<div id = "login">
this is where the login goes
</div>
</div>
<div class="clear"></div>
<div id ="footer">
this is where the footer goes
</div>
</div> <!-- close container -->
</body>

</html>

