<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
<head>
<link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>
<div id = "container">
<div id = "nav-container">
<div id = "welcome">
this is where sign out goes
</div>
<div id = "navbar">
this is where the navbar is
</div>
</div>
<div id = "content">
<div id = "input">
this is where the form input goes
</div>
</div>
<div class="clear"></div>
<div id ="footer">
this is where the footer goes
</div>
</div> <!-- close container -->
</body>

</html>

